*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

.container{
    margin: 0 auto;
    background-color: #f8f6f2;
    padding: 20px;
}
   p{
    font-size: 18px;
    color: #6b7280;
    line-height: 1.8;
    margin-bottom: 35px;
    font-style: inherit;

 }
  h2{
    color: #0f172a;
    font-size: 60px;
    font-style:initial;
  }

  